<html>
    <head>
        {% block stylesheets %}
        <link href="{{ asset('bundles/Project/css/main.css') }}" rel="stylesheet"  type="text/css"/>
        <link href="{{ asset('css/twbs/bootstrap.css') }}" rel="stylesheet" />
        {% endblock %}

    </head>
    <body>
        {% block body %}
        <div id="project">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    
                </div>
                <div class="panel-body">
<center>

<img src="data:image/png;base64, {{ EncodedImage }}" />	

</center>
         </div>
            </div>

        {% endblock %}

    </div>
    
    </body>
</html>