/************************************************************************************************* Global ********************************************************************************************/


body{
	background-color: #E6E6FA;
}

td,th {
	text-align: center;
	font-size: 12px;
}

table{
	border-collapse: collapse;
	float:left;
	margin-bottom: 20px;
}

a{
	text-decoration: none;
}

/************************************************************************************************* Backlog ********************************************************************************************/


#Project{
	width:1200px;
	height:600px;
	margin:auto;
	background-color: lightgrey;
	text-align: center;
	padding: 20px;
}

#TitlePage{
	color:blue;
	font-size: 40px;
	text-align: center;
}


#Backlog_column{
	font-weight: bold;
}

#backlog{
	background-color: white;
}


#Add_Form{
	width:100%;
	text-align: center;
	margin: auto;
}

.Add_Form_Column{
	padding:10px;
	font-weight: bold;
}

.line_option{
	float:right;
	border:1px solid black;
	width:70px;
	color:black;
}

.updateDelete{
	width: 115px;
}

	
.IntUser, .DescriptionUser,.IDTask,.DescriptionTask{
	background-color: white;
	text-align: center;
	border:1px solid black;
}

.DescriptionUser{
	width:700px;
}



.IntUser, .backlog_option{
	width:100px;
}




#Project_help{
	width:1200px;
	height:800px;
	margin:auto;
	background-color: lightgrey;
	text-align: center;
	padding: 20px;
	text-align:justify;
}


/************************************************************************************************* Kanban ********************************************************************************************/



#Project_Kanban{
	width:1600px;
	height:650px;
	margin:auto;
	background-color: lightgrey;
	text-align: center;
	 padding: 15px;

}

.DescriptionTask{
	width:410px;
}

.IDTask{
	width:75px;
}


#Kanban{
		margin-left: 20px;
		margin-top: 30px;
		min-height: 400px;
}

#TitlePage_kanban{
	color:blue;
	font-size: 40px;
	text-align: center;
	padding-top:20px;
}


/************************************************************************************************* Project ********************************************************************************************/


#sprint_creation{
	width:800px;
	height:500px;
	margin:auto;
	background-color: lightgrey;
	text-align: center;
	padding: 20px;
}

#table_sprint{
	margin-left: 35%;
}
